* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
  color: white;
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
}
header {
  font-size: 1rem;
  background-color: black;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

form input,
form button,
form select {
  padding: 0.5rem;
  font-size: 15px;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

h2.list-header {
  font-size: 15px;
  padding: 20px;
}

.list {
  min-width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.todo {
  margin: 0.5rem;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo .todo-text {
  background: white;
  flex-grow: 1;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
}
.todo button {
  background: red;

  border: 1px solid gray;
  border-radius: 5px;
  width: 90px;
  color: black;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
button.complete {
  background: chartreuse;
}
button.edit {
  background: rgb(251, 255, 0);
}
button.save {
  background: rgb(0, 102, 255);
}
.todo-item {
  padding: 0rem 0.5rem;
}
